.Header{
  padding: 1rem;
  border-radius: 10px;
  color:white;
  font-size: 2rem;
}
.Aside{
  padding: 0.5rem;
  font-size:2rem;
  color:rgb(40, 40, 230);
  border-radius: 10px;
}
.Footer{
  padding: 1rem;
  color:white;
  font-size: 3em;
  border-radius: 10px;
}
.Article{
  font-size: 2em;
  padding: 1rem;
  border-radius: 10px;
}
.Article, .Footer, .Header, .Aside{
  background:orange
}
.Login{
  color:white;
  display: grid;justify-items: center;text-align: center;
}

.btnInMessage{
  height:50px;
}
.badge{
  background: #0083D3;
}

.Link{
  color:#0D6EFD;
  text-decoration: none;
}
a .Link:focus{
  color:white
}
.Link:hover{
  color:rgb(0, 162, 255);
}
.Link:active{
  color:blue
}
.LinkActive{
  color:orange
}
.DoBlack{
  color:black;
}
.likeBg{
  background:red;
}
.right{float:right}
.left{float:left}
summary{outline:none}
